<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Not Found</title>
</head>
<body>
    
    <h1>Listing Not Found</h1>

    <p>Listing with id <span th:text="${listingId}"></span> not found</p>

    <a th:href="@{'/search?country=' + ${country} + '&pax=' + ${pax} + '&minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice}}">Back to Search Results</a><br>
    <a th:href="@{/search}">Back to Search Page</a>

</body>
</html>