<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Details</title>
</head>
<body>

    <div>
        <a th:href="@{'/search?country=' + ${country} + '&pax=' + ${pax} + '&minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice}}">Back to Search Results</a>
    </div>

    <div>

        <h1>Listing Details</h1>

        <table border="1">
    
            <tr>
                <th>ID</th>
                <td colspan=2 th:text="${listingDetails.id}"></td>
            </tr>
    
            <tr>
                <th>Description</th>
                <td th:text="${listingDetails.description}"></td>
                <td><img th:src="${listingDetails.pictureUrl}" alt="Listing Image"/></td>
            </tr>
    
            <tr>
                <th>Address</th>
                <td colspan=2>
                    <span th:text="${listingDetails.street}"></span><br>
                    <span th:text="${listingDetails.suburb}"></span><br>
                    <span th:text="${listingDetails.country}"></span><br>
                </td>
            </tr>
    
            <tr>
                <th>Price</th>
                <td colspan=2 th:text="${listingDetails.price}"></td>
            </tr>
    
            <tr>
                <th>Amenities</th>
                <td colspan=2 th:text="${listingDetails.amenities}"></td>
            </tr>
    
        </table>

    </div>
    
    <br><br>

    <div>
        <h1>Bookings</h1>

        <form method="POST" th:action="@{'/' + ${listingDetails.id} + '/book'}" th:object="${bookingForm}">
            <table>
                <tr>
                    <td>Name: </td>
                    <td>
                        <input type="text" th:field="${bookingForm.name}">
                    </td>
                    <td th:if="${#fields.hasErrors('name')}" style="color: red; font-size: 12px;">
                        <span th:errors="*{name}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>
                        <input type="text" th:field="${bookingForm.email}">
                    </td>
                    <td th:if="${#fields.hasErrors('email')}" style="color: red; font-size: 12px;">
                        <span th:errors="*{email}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Arrival: </td>
                    <td>
                        <input type="date" th:field="${bookingForm.arrival}" min="0000-01-01" max="9999-12-31">
                    </td>
                    <td th:if="${#fields.hasErrors('arrival')}" style="color: red; font-size: 12px;">
                        <span th:errors="*{arrival}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Stay: </td>
                    <td>
                        <input type="number" th:field="${bookingForm.stay}">
                    </td>
                    <td th:if="${#fields.hasErrors('stay')}" style="color: red; font-size: 12px;">
                        <span th:errors="*{stay}"></span>
                    </td>
                </tr>
            </table>

            <button type="submit">Book</button>
        </form>
    </div>

</body>
</html>