<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results Page</title>
</head>
<body>
    
    <h1>Listings for <span th:text="${country}"></span></h1>

    <div th:if="${#lists.isEmpty(listings)}">
        <p>There are no listings that match your search</p>
    </div>

    <div th:if="${not #lists.isEmpty(listings)}">
        <table border="1" align="left">

            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th></th>
            </tr>
    
            <tr th:each="listing : ${listings}">
                <td th:text="${listing.name}"></td>
                <td th:text="${listing.price}"></td>
                <td><img th:src="${listing.pictureUrl}" alt="Listing Image" style="width: 100px; height: auto;" /></td>
                <td><a th:href="@{/listing/{id}(id=${listing.id})}">Details</a></td>
            </tr>
    
        </table>
    </div>

</body>
</html>